


{% extends "base.html" %}

{% block content %}
<div style="text-align:center;">
    <p>Вам предстоит ползать вверх и зарабатывать деньги и очки. На заработанные деньги можно купить скины для Вашего персонажа.</p>
    <p>Ваша задача - подниматься как можно выше и соревноваться с другими игроками за первое место в таблице лидеров.</p>
    <p>А также зарабатывать деньги, на которые можно купить скины</p>
    <p>Чтобы начать играть нужно зарегистрироваться и нажать на названия игры</p>
    <p>Приятной игры!!!!</p>
</div>
{% endblock %}